.fa-telegram:before {
    font-size: 30px;
    color : #f7f7f7;
    margin : 8px;
}

.fa-instagram:before {
    font-size: 30px;
    color : #f7f7f7;
    margin : 8px;
}

.fa-linkedin:before {
    font-size: 30px;
    color : #f7f7f7;
    margin : 8px;
}

.fa-facebook-square:before {
    font-size: 30px;
    color : #f7f7f7;
    margin : 8px;
}